 
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-Header {
  /* background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin); */
  color: white;
}

.App-link {
  color: #09d3ac;
}

.switch {
  border-color: red;
  width: 100%;
  background-color: plum;
}

.App {
  background-color: rgb(171, 97, 207);
  width: 60%;
}

