body {
  background: rgb(32, 19, 39);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #09d3ac;
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(171, 97, 207);
  justify-content: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
}

ul li {
  padding: 60px;
}

ul li a {
  font-size: 36px;
  text-decoration: none;
  border-style: outset;
  padding: 10px 40px;
}

.button {
  background-color: rgb(183, 121, 214);
  border-color: rgb(69, 43, 82);
  color: rgb(41, 26, 36);
  text-align: center;
  padding: 12px 22px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

ul {
  background-color: rgb(183, 121, 214);
  border-color: rgb(69, 43, 82);
  color: rgb(41, 26, 36);
  text-align: center;
  padding: 12px 22px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

h1.header {
  background: rgb(169, 114, 189);
  border-radius: 15%;
  color: rgb(36, 29, 39);
  text-align: center;
}

.footer {
  margin-top: 48px;
  text-align: center;
  border-width: thick;
  border-top: rgb(32, 19, 39);
  padding: 50px;
}

div.boxes {
  text-align: center;
  padding: 36px;
}
